

.App {
  text-align: center;
}


body {
  margin-top: 25px;
  font-size: 21px;
  text-align: center;

}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

label[id^="radio-"] {
  font-size: 1rem;
  align-items: center;
  padding: auto;
}

#div_slider .MuiTypography-root {
  display: none !important;
}

#colonne_gauche {
  padding-left:0px!important;
}

// .btn-secondary{
//   // border-width:1px!important;
//   border-color:red!important;

// }

.btn-secondary:focus, .btn-secondary:active {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid red !important;
  z-Index:auto;
}


.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.MuiSlider-markLabel[data-index='1'] {
  display:none;
}


//slider vaccin
.btnn-group {
  width: 45%;
  // flex-wrap: nowrap;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 5px 20px;
  // height: 50px;
  justify-content: center;
  max-height: 35px;
  display:flex
}

.btnn-check{
  clip:rect(0px 0px 0px 0px);
  position:fixed;
}

.btnn-secondary {
  display:inline-block;
  max-height: 35px;
  cursor:pointer;
  padding: 0.375rem 0.75rem 0.375rem 0.75rem ;
  align-items: center;
  min-height: 40px;
  line-height: normal;
  background-color: rgb(108,117,125);
  color:white;
  text-align:center;
  vertical-align:baseline;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:1rem;
}

.btnn-secondary-last {
  border-radius: 0 0.25rem 0.25rem 0;
}

.btnn-secondary-first {
  border-radius: 0.25rem 0 0 0.25rem;
}

.btnn-secondary:hover{
  background-color: rgb(81,88,94);
}


#radio1-0:checked + #radio2-0{
  background-color: rgb(86,94,100);
}

#radio1-1:checked + #radio2-1{
  background-color: rgb(86,94,100);
}

#radio1-2:checked + #radio2-2{
  background-color: rgb(86,94,100);
}

#radio1-3:checked + #radio2-3{
  background-color: rgb(86,94,100);
}

#radio1-4:checked + #radio2-4{
  background-color: rgb(86,94,100);
}

#entete_chart {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  overflow:visible;
}

#colonne_gauche {
  flex-wrap: wrap;
}

#colonne_droite {
  margin-top: 12px;
}


#div_slider {
  padding: 0px 0px 0px 0px;
  width: 45%;
  max-height: 50px;
  min-width:360px;
  justify-content: center;
  margin-left:auto;
  margin-right:auto;
}

#wrap_map1 {
  display: flex;
  flex-direction: row;
  height: 100%;
  /* flex-wrap: nowrap; */
}

#wrap_map2 {
  /* padding: 0px 30px 0px 30px; */
  display: flex;
  flex-direction: column;
  /* width:50px; */
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.recharts-wrapper {
  margin: 0 auto;
}

.recharts-treemap-depth-1 text {
  font-size: 1rem
}

.recharts-legend-item-text {
  font-size: 1rem
}

/* .recharts-responsive-container{
  margin: 0 2rem 0 0;
} */


.recharts-cartesian-axis-ticks tspan {
  font-size: 0.9rem;
  color: #ffffff;
}

text {
  white-space: normal;
}

.recharts-surface {
  /* width:"1100px"; */
  overflow: visible;
}

#responsive_cont_barcharts {
  margin: 1rem 2rem 0rem 1rem;
}

#dose {
  font-size: 2rem;
}

//texte pas sélectionnable
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


//video
.videoFront { 
  opacity: 0;
  transition: all .2s ease-in-out;
}

.videoFront:hover { 
  opacity: 1;
  transition: all .2s ease-in-out;
}

//slide-menu

#theMenu {
  position: fixed;
  left: 0;
  top: 0;
  transform: translate3d(-100vw, 0, 0);
       
  width: 20vw;
  height: 100vh;
  color:#FFF;
}   

#flyoutMenu {
  width: 20vw;
  height: 90vh;
  background-color: #000;
  // position: fixed;
  top: 0;
  left: 0;
  transition: transform .3s
              cubic-bezier(0, .52, 0, 1);
  // overflow: scroll;
  z-index: 1000;
  font-family:"Gilda Display", serif;
}
 
#flyoutMenu.hide {
  transform: translate3d(-20vw, 0, 0);
}
 
#flyoutMenu.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}
 
#flyoutMenu h2 a {
  color: #fff;
  margin-left: 15px;
  margin-top:80px;
  text-decoration: none;
  font-size: 25px;
}
 
#flyoutMenu h2 a:hover {
  text-decoration: underline;
}


//menu bouton
#roundButton {
  background-color: #96D9FF;
  margin-bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 10px solid #0065A6;
  outline: none;
  transition: all .2s cubic-bezier(0, 1.26, .8, 1.28);
}
 
#roundButton:hover {
  background-color: #96D9FF;
  cursor: pointer;
  border-color: #003557;
  transform: scale(1.2, 1.2);
}
 
#roundButton:active {
  border-color: #003557;
  background-color: #FFF;
}

// svg titre
#svg_titre:hover path{
  // transition-duration: 6s;
  fill:white;

}

// #svg_titre path{
//   // transition-duration: 6s;
//   // fill:black;

// }

#svg_titre{
  position:absolute;
  top:50%;
  left:10px;
}

@keyframes glissement {
  0% {
    transform: translateX(30px);
  }
  50%{
    // transform: translate(30px);
    // left:10px;
  }

  100%{
    // transform: translateX(-30px);
  }
  
}

#svg_titre:hover .line-1{
  animation-name: glissement;
  animation-duration: 2s;
  animation-delay: 0.1s;
  animation-iteration-count: infinite;
  // animation-direction: reverse;
}

#svg_titre:hover .line-2{
  animation-name: glissement;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  // animation-direction: reverse;
}


#svg_titre:hover .line-3{
  animation-name: glissement;
  animation-duration: 2s;
  animation-delay: 0.7s;
  animation-iteration-count: infinite;
  // animation-direction: reverse;
}

.cursor-pointer {
  cursor: pointer;
}


