

.App {
  text-align: center;
}


body {
  margin-top: 25px;
  font-size: 21px;
  text-align: center;

}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

label[id^="radio-"] {
  font-size: 1rem;
  align-items: center;
  padding: auto;
}

#div_slider .MuiTypography-root {
  display: none !important;
}

#colonne_gauche {
  padding-left:0px!important;
}

// .btn-secondary{
//   // border-width:1px!important;
//   border-color:red!important;

// }

.btn-secondary:focus, .btn-secondary:active {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid red !important;
  z-Index:auto;
}


.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.MuiSlider-markLabel[data-index='1'] {
  display:none;
}


//slider vaccin
.btnn-group {
  width: 45%;
  // flex-wrap: nowrap;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 5px 20px;
  // height: 50px;
  justify-content: center;
  max-height: 35px;
  display:flex
}

.btnn-check{
  clip:rect(0px 0px 0px 0px);
  position:fixed;
}

.btnn-secondary {
  display:inline-block;
  max-height: 35px;
  cursor:pointer;
  padding: 0.375rem 0.75rem 0.375rem 0.75rem ;
  align-items: center;
  min-height: 40px;
  line-height: normal;
  background-color: rgb(108,117,125);
  color:white;
  text-align:center;
  vertical-align:baseline;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:1rem;
}

.btnn-secondary-last {
  border-radius: 0 0.25rem 0.25rem 0;
}

.btnn-secondary-first {
  border-radius: 0.25rem 0 0 0.25rem;
}

.btnn-secondary:hover{
  background-color: rgb(81,88,94);
}


#radio1-0:checked + #radio2-0{
  background-color: rgb(86,94,100);
}

#radio1-1:checked + #radio2-1{
  background-color: rgb(86,94,100);
}

#radio1-2:checked + #radio2-2{
  background-color: rgb(86,94,100);
}

#radio1-3:checked + #radio2-3{
  background-color: rgb(86,94,100);
}

#radio1-4:checked + #radio2-4{
  background-color: rgb(86,94,100);
}

#entete_chart {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  overflow:visible;
}

#colonne_gauche {
  flex-wrap: wrap;
}

#colonne_droite {
  margin-top: 12px;
}


#div_slider {
  padding: 0px 0px 0px 0px;
  width: 45%;
  max-height: 50px;
  min-width:360px;
  justify-content: center;
  margin-left:auto;
  margin-right:auto;
}

#wrap_map1 {
  display: flex;
  flex-direction: row;
  height: 100%;
  /* flex-wrap: nowrap; */
}

#wrap_map2 {
  /* padding: 0px 30px 0px 30px; */
  display: flex;
  flex-direction: column;
  /* width:50px; */
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.recharts-wrapper {
  margin: 0 auto;
}

.recharts-treemap-depth-1 text {
  font-size: 1rem
}

.recharts-legend-item-text {
  font-size: 1rem
}

/* .recharts-responsive-container{
  margin: 0 2rem 0 0;
} */


.recharts-cartesian-axis-ticks tspan {
  font-size: 0.9rem;
  color: #ffffff;
}

text {
  white-space: normal;
}

.recharts-surface {
  /* width:"1100px"; */
  overflow: visible;
}

#responsive_cont_barcharts {
  margin: 1rem 2rem 0rem 1rem;
}

#dose {
  font-size: 2rem;
}

//texte pas sélectionnable
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


