body {
  margin: 25px 0 0 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html {
  font-size: 16px;
  overflow: scroll;
}

body {
  margin-top: 25px;
  text-align: center;

}


//attribut google map
.gmnoprint
{display:none;}


a[href^="https://maps.google.com/maps"]{display:none !important}
